#torch>=1.7.0,<1.9.0
# requirements.txt
torch==1.8.1+cu102 -f https://download.pytorch.org/whl/torch_stable.html

numpy
torchvision>=0.6.0
cython
scipy
xmltodict
tqdm
onnx
onnxruntime
prettytable
submitit

# tokenizers==0.11.6 suggested in https://github.com/ashkamath/mdetr/issues/102 fails to build for me
#tokenizers==0.13.2
tokenizers
# mdetr breaks with any transformers>4.16.2
transformers==4.16.2
#pycocotools @ git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI&egg=pycocotools
pycocotools
panopticapi @ git+https://github.com/cocodataset/panopticapi.git#egg=panopticapi
timm